<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!DOCTYPE html>
<html>
	<head>
		<!--<title>Chatbot</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}"/>
	    <!-->
		<title>Medical Chatbot</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}"/>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	</head>
	
	
	<body>
		<div class="container-fluid h-100">
			<div class="row justify-content-center h-100">		
				<div class="col-md-8 col-xl-6 chat">
					<div class="card">
						<div class="card-header msg_head">
							<div class="d-flex bd-highlight">
								<div class="img_cont">
									<img src="https://cdn-icons-png.flaticon.com/512/387/387569.png" class="rounded-circle user_img">
									<!-- <img src="https://www.prdistribution.com/spirit/uploads/pressreleases/2019/newsreleases/d83341deb75c4c4f6b113f27b1e42cd8-chatbot-florence-already-helps-thousands-of-patients-to-remember-their-medication.png" class="rounded-circle user_img"> -->
									<span class="online_icon"></span>
								</div>
								<div class="user_info">
									<span>Medical Chatbot</span>
									<p>Ask me anything!</p>
								</div>
							</div>
						</div>
						<div id="messageFormeight" class="card-body msg_card_body">
							
							
						</div>
						<div class="card-footer">
							<form id="messageArea" class="input-group">
								<!--microphone add-->
								<div class="input-group-prepend">
									<span id="mic_btn" class="input-group-text mic_btn"><i class="fas fa-microphone"></i></span>
								</div>
								<!--microphone add-->
                                <input type="text" id="text" name="msg" placeholder="Type your message..." autocomplete="off" class="form-control type_msg" required/>
								<div class="input-group-append">
									<button type="submit" id="send" class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<script>
			/*
			$(document).ready(function() {
				$("#messageArea").on("submit", function(event) {
					const date = new Date();
					const hour = date.getHours();
					const minute = date.getMinutes();
					const str_time = hour+":"+minute;
					//mic 
					const SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;
					if (SpeechRecognition) {
                        const recognition = new SpeechRecognition();
                        recognition.continuous = false; // Stop after one phrase
                        recognition.lang = 'en-US';

    // When the mic button is clicked
    $("#mic_btn").on("click", function() {
        recognition.start();
        $(this).css("color", "#ff0000"); // Turn red to show it's recording
    });

    // When voice is successfully captured
    recognition.onresult = function(event) {
        const transcript = event.results[0][0].transcript;
        $("#text").val(transcript); // Put the spoken text into the input box
        $("#mic_btn").css("color", "#ffffff"); // Reset icon color
        
        // Optional: Automatically submit the form after speaking
        // $("#messageArea").submit(); 
    };

    recognition.onerror = function(event) {
        console.error("Speech recognition error: " + event.error);
        $("#mic_btn").css("color", "#ffffff");
    };

    recognition.onspeechend = function() {
        recognition.stop();
        $("#mic_btn").css("color", "#ffffff");
    };
} else {
    $("#mic_btn").hide(); // Hide button if browser doesn't support STT
    console.log("Web Speech API is not supported in this browser.");
}

					//mic
					var rawText = $("#text").val();
					var userHtml = '<div class="d-flex justify-content-end mb-4"><div class="msg_cotainer_send">' + rawText + '<span class="msg_time_send">'+ str_time + '</span></div><div class="img_cont_msg"><img src="https://i.ibb.co/d5b84Xw/Untitled-design.png" class="rounded-circle user_img_msg"></div></div>';
					$("#text").val("");
					$("#messageFormeight").append(userHtml);

					$.ajax({
						data: {
							msg: rawText,	
						},
						type: "POST",
						url: "/get",
					}).done(function(data) {
						var botHtml = '<div class="d-flex justify-content-start mb-4"><div class="img_cont_msg"><img src="https://cdn-icons-png.flaticon.com/512/387/387569.png" class="rounded-circle user_img_msg"></div><div class="msg_cotainer">' + data + '<span class="msg_time">' + str_time + '</span></div></div>';
						$("#messageFormeight").append($.parseHTML(botHtml));
					});
					event.preventDefault();
				});
			});*/
    $(document).ready(function() {
        // 1. INITIALIZE SPEECH RECOGNITION (Keep this outside the submit function)
        const SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;
        
        if (SpeechRecognition) {
            const recognition = new SpeechRecognition();
            recognition.continuous = false;
            recognition.lang = 'en-US';

            // Click listener for the Mic Button
            $("#mic_btn").on("click", function(e) {
                e.preventDefault(); // Stop form from submitting
                console.log("Starting Mic...");
                recognition.start();
                $(this).css("color", "#ff0000"); // Turn red to show it's recording
            });

            recognition.onresult = function(event) {
                const transcript = event.results[0][0].transcript;
                $("#text").val(transcript); // Put spoken text into input
                $("#mic_btn").css("color", "#ffffff"); // Reset icon color
            };

            recognition.onerror = function(event) {
                console.error("Speech recognition error: " + event.error);
                $("#mic_btn").css("color", "#ffffff");
            };

            recognition.onspeechend = function() {
                recognition.stop();
                $("#mic_btn").css("color", "#ffffff");
            };
        } else {
            $("#mic_btn").hide();
            console.log("Web Speech API is not supported in this browser.");
        }

        // 2. CHAT SUBMIT LOGIC
        $("#messageArea").on("submit", function(event) {
            event.preventDefault(); // Stop page reload
            
            const date = new Date();
            const hour = date.getHours();
            const minute = date.getMinutes();
            const str_time = hour + ":" + minute;
            
            var rawText = $("#text").val();
            if (rawText.trim() === "") return; // Don't send empty messages

            var userHtml = '<div class="d-flex justify-content-end mb-4"><div class="msg_cotainer_send">' + rawText + '<span class="msg_time_send">' + str_time + '</span></div><div class="img_cont_msg"><img src="https://i.ibb.co/d5b84Xw/Untitled-design.png" class="rounded-circle user_img_msg"></div></div>';
            
            $("#text").val("");
            $("#messageFormeight").append(userHtml);

            // Scroll to bottom
            $(".msg_card_body").scrollTop($(".msg_card_body")[0].scrollHeight);

            $.ajax({
                data: { msg: rawText },
                type: "POST",
                url: "/get",
            }).done(function(data) {
                var botHtml = '<div class="d-flex justify-content-start mb-4"><div class="img_cont_msg"><img src="https://cdn-icons-png.flaticon.com/512/387/387569.png" class="rounded-circle user_img_msg"></div><div class="msg_cotainer">' + data + '<span class="msg_time">' + str_time + '</span></div></div>';
                $("#messageFormeight").append($.parseHTML(botHtml));
                
                // Scroll to bottom after bot reply
                $(".msg_card_body").scrollTop($(".msg_card_body")[0].scrollHeight);
            });
        });
    });

		</script>
        
    </body>
</html>